<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="FILE_APPENDER" class="ch.qos.logback.core.FileAppender">
    <file>cba.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%class{36}] %-5level - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="FILE_APPENDER" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
